---
import fs from "fs";
import path from "path";

const bibleVersion = [
  {
    id: "eng_kjv",
    abbr: "KJV",
    name: "King James (Authorized) Version",
    path: "./src/data/eng_kjv.json",
  },
  {
    id: "eng_kja",
    abbr: "KJV+Apocrypha",
    name: "King James Version + Apocrypha",
    path: "./src/data/eng_kja.json",
  },
  {
    id: "eng_asv",
    abbr: "ASV",
    name: "American Standard Version",
    path: "./src/data/eng_asv.json",
  },
  {
    id: "eng_web",
    abbr: "WEB",
    name: "World English Bible",
    path: "./src/data/eng_web.json",
  },
];

// Get selected version from query parameter or use first version as default
const url = new URL(Astro.request.url);
const selectedVersionId = url.searchParams.get("version") || bibleVersion[0].id;
const selectedVersion =
  bibleVersion.find((v) => v.id === selectedVersionId) || bibleVersion[0];

const biblePath = path.resolve(selectedVersion.path);
const bibleData = JSON.parse(fs.readFileSync(biblePath, "utf-8"));

function getRandomElement(array) {
  return array[Math.floor(Math.random() * array.length)];
}

function getRandomVerse() {
  const books = Object.keys(bibleData);
  const book = getRandomElement(books);

  const chapters = Object.keys(bibleData[book]);
  const chapter = getRandomElement(chapters);

  const verses = Object.keys(bibleData[book][chapter]);
  const verseNumber = getRandomElement(verses);
  const verseText = bibleData[book][chapter][verseNumber];

  return { book, chapter, verseNumber, verseText };
}

const verse = getRandomVerse();
---

<label for="bible-version">Bible Version:</label>
<select id="bible-version">
  {
    bibleVersion.map((version) => (
      <option value={version.id} selected={version.id === selectedVersion.id}>
        {version.abbr} - {version.name}
      </option>
    ))
  }
</select>

<div class="verse">
  <h2 class="verse-heading">
    {verse.book}
    {verse.chapter}:{verse.verseNumber}
  </h2>
  <p class="verse-content">{verse.verseText}</p>
  <a href="#0">Read more</a>
</div>

<script>
  const versionSelect = document.getElementById("bible-version");

  versionSelect?.addEventListener("change", (e) => {
    const selectedVersion = (e.target as HTMLSelectElement).value;
    window.location.href = `?version=${selectedVersion}`;
  });
</script>
